/* 연한 색조로 전체 스타일 조정 및 가로 길이를 전체 창에 맞춤 */
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3e5f5; /* 배경색을 연한 보라색으로 설정 */
}

#app {
  background-color: #f3e5f5; /* 배경색을 연한 보라색으로 설정 */
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #6d435a; /* 헤더 색상을 연한 보라색으로 설정 */
  text-align: center;
  margin-bottom: 20px;
}

#todo-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#todo-input,
#category-select,
#add-btn {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #cec2d0; /* 입력 및 선택 필드의 테두리를 연한 색으로 설정 */
  border-radius: 4px; /* 둥근 모서리 추가 */
}

#add-btn {
  background-color: #d1c4e9; /* 버튼 배경색을 연한 보라색으로 설정 */
  color: #6d435a; /* 버튼 텍스트 색상을 연한 보라색으로 설정 */
  cursor: pointer;
}

/* 카테고리 및 리스트 컨테이너 스타일링 */
#categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-grow: 1;
}

.category {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  overflow: hidden;
}

.category h2 {
  color: #6d435a;
  text-align: center;
  margin: 0;
  padding: 10px;
  background: rgba(210, 190, 255, 0.6);
}

.todo-list,
.done-list {
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto;
}

.todo-list li,
.done-list li {
  background: rgba(237, 231, 246, 0.8);
  color: #6d435a;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.todo-list.drag-over,
.done-list.drag-over {
  background-color: rgba(255, 255, 255, 0.9);
}

/* 해야 할 일과 완료한 일 목록의 헤더 스타일링 */
.category .todo-list-header,
.category .done-list-header {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
}

/* 해야 할 일 목록의 헤더 */
.category .todo-list-header {
  background-color: #9c27b0;
}

/* 완료한 일 목록의 헤더 */
.category .done-list-header {
  background-color: #673ab7;
}

/* 삭제 버튼 스타일링 */
.delete-btn {
  padding: 5px 10px;
  background-color: #ff1744; /* 버튼 배경색을 빨간색으로 설정 */
  color: white; /* 버튼 텍스트 색상을 흰색으로 설정 */
  border: none; /* 테두리 없음 */
  border-radius: 4px; /* 둥근 모서리 */
  cursor: pointer;
  margin-left: auto; /* 버튼을 컨테이너 오른쪽으로 밀어냄 */
}

/* 할 일 목록의 항목 스타일링 */
.todo-item {
  display: flex;
  align-items: center; /* 텍스트와 버튼을 세로 중앙에 배치 */
  justify-content: space-between; /* 텍스트와 버튼 사이의 공간을 균등하게 분배 */
}

.todo-item p {
  margin: 0;
  flex-grow: 1; /* 텍스트를 가능한 많은 공간으로 채움 */
}

/* 드래그 앤 드롭 관련 스타일 */
.draggable {
  user-select: none;
}

.dragging {
  opacity: 0.5;
}

.todo-time {
  margin-left: 7%; /* 원하는 만큼의 공간을 추가 */
}
